/* WCAG 2, 1.4.4: rem-based sizing respects user browser font preferences */
html {
  font-size: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
