# Dependencies
node_modules/

# Production builds
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/

# Misc
.pnp
.pnp.js

notes.txt
client/src/api/gemini.js
client/src/pages/GeminiPage.js
